<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
      <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../css/index.css" />
    <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css">
    <!--<link rel="javascript" href="../../bootstrap/js/bootstrap.bundle.min.js">-->
</head>


<body>
    <div class="container-fluid">
       <!--  이력서 상세 화면 입니다.
        <table class="table">
            <colgroup>
                <col style="width: 30%"></col>
                <col></col>
            </colgroup>
            <thead>
                <tr>
                    <th>기본정보</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label>Title</label></td>
                    <td><label th:text="${resumeInfo.basicInfo.title}"></label></td>
                </tr>
                <tr>
                    <td><label>Summary</label></td>
                    <td><label th:text="${resumeInfo.basicInfo.summary}"></label></td>
                </tr>
                <tr>
                    <td><label>Register Date</label></td>
                    <td><label th:text="${resumeInfo.basicInfo.reg_date}"></label></td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th>경력정보</th>
                </tr>
            </thead>
            <tbody th:each="list : ${resumeInfo.careerList}">
                <tr>
                    <td><label>Company Name</label></td>
                    <td><label th:text="${list.company_name}"></label></td>
                </tr>
                <tr>
                    <td><label>Start Date</label></td>
                    <td><label th:text="${list.start_date}"></label></td>
                </tr>
                <tr>
                    <td><label>End Date</label></td>
                    <td><label th:text="${list.end_date}"></label></td>
                </tr>
                <tr>
                    <td><label>Country</label></td>
                    <td><label th:text="${list.country}"></label></td>
                </tr>
                <tr>
                    <td><label>City</label></td>
                    <td><label th:text="${list.city}"></label></td>
                </tr>
                <tr>
                    <td><label>Job Duty</label></td>
                    <td><label th:text="${list.job_duty}"></label></td>
                </tr>
                <tr>
                    <td><label>Position</label></td>
                    <td><label th:text="${list.posi}"></label></td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th>학력정보</th>
                </tr>
            </thead>
            <tbody th:each="list : ${resumeInfo.academicList}">
                <tr>
                    <td><label>School Name</label></td>
                    <td><label th:text="${list.school_name}"></label></td>
                </tr>
                <tr>
                    <td><label>Start Date</label></td>
                    <td><label th:text="${list.start_date}"></label></td>
                </tr>
                <tr>
                    <td><label>End Date</label></td>
                    <td><label th:text="${list.end_date}"></label></td>
                </tr>
                <tr>
                    <td><label>Country</label></td>
                    <td><label th:text="${list.country}"></label></td>
                </tr>
                <tr>
                    <td><label>City</label></td>
                    <td><label th:text="${list.city}"></label></td>
                </tr>
                <tr>
                    <td><label>Major</label></td>
                    <td><label th:text="${list.major}"></label></td>
                </tr>
                <tr>
                    <td><label>Grade</label></td>
                    <td><label th:text="${list.grade}"></label></td>
                </tr>
            </tbody>
        </table> -->



        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="row g-3">
                <div class="col-12">
                  <label fclass="form-label"><strong>Title</strong></label>
                  <div class="form-floating mb-3">
                    <input th:value="${resumeInfo.basicInfo.title}" type="text" class="form-control-plaintext">
                    <label for="title">Title</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="form-label"><strong>First Name</strong></label>
                  <input th:value="${resumeInfo.basicInfo.first_name}" type="text" class="form-control-plaintext" readonly>
                </div>
                <div class="col-md-6">
                  <label class="form-label"><strong>Last Name</strong></label>
                  <input th:value="${resumeInfo.basicInfo.last_name}" type="text" class="form-control-plaintext" readonly>
                </div>
                <div class="col-md-6">
                  <label class="form-label"><strong>email</strong></label>
                  <input th:value="${resumeInfo.basicInfo.email}" type="email" class="form-control-plaintext" readonly>
                </div>
                <div class="col-md-6 mb-5">
                  <label class="form-label"><strong>phone</strong></label>
                  <input th:value="${resumeInfo.basicInfo.phone}" type="text" class="form-control-plaintext" readonly>
                </div>
                
                <div class="row" id="careerAppPoint">
                    <div class="col-12">
                    	<label class="form-label companyName"><strong>Career</strong></label>
                    </div>



                  <div class="card" th:each="list : ${resumeInfo.careerList}">
                    <div class="card-body">
                      <div class="col-md-12">
                        <label class="form-label companyName"><strong>Company Name</strong></label>
                        <input type="text" th:value="${list.company_name}" class="form-control" placeholder="Company Name">
                      </div>
                      <div class="col-md-6">
                        <label class="form-label startDate"><strong>Start Date</strong></label>
                          <input th:value="${list.start_date}" type="date" class="form-control">
                      </div>
                      <div class="col-md-6">
                        <label class="form-label endDate"><strong>End Date</strong></label>
                          <input  th:value="${list.end_date}" type="date" class="form-control">
                      </div>
                      <div class="col-md-6">
                        <label class="form-label"><strong>Country</strong></label>
                        <select th:value="${list.country}" class="form-select country">
                          <option selected>Select Country</option>
                          <option value="US">United States</option>
                          <option value="KR">South Korea</option>
                          <option value="TH">Thailand</option>
                        </select>
                      </div>
                      <div class="col-md-6">
                        <label class="form-label city"><strong>City</strong></label>
                          <input th:value="${list.city}" type="text" class="form-control" placeholder="City">
                      </div>
                      <div class="col-md-6">
                        <label class="form-label jobDuty"><strong>Job Duty</strong></label>
                          <input th:value="${list.job_duty}" type="text" class="form-control" placeholder="Job Duty">
                      </div>
                      <div class="col-md-6">
                        <label class="form-label posi"><strong>Position</strong></label>
                          <input th:value="${list.posi}" type="text" class="form-control" placeholder="Positioin">
                      </div>
                    </div>
                    </div>
      


                </div>
                <div class="col-12 mb-3">
                    <button onclick="addCareer()" class="btn btn-primary">Add Career</button>
                </div>
                <div class="row" id="academicAppPoint">
                  
                  <div class="col-12">
                    	<label class="form-label companyName"><strong>Education</strong></label>
                    </div>



                  <div class="card" th:each="list : ${resumeInfo.academicList}">
                    <div class="card-body">
                      <div class="col-md-12">
                        <label class="form-label companyName"><strong>School Name</strong></label>
                        <input type="text" th:value="${list.school_name}" class="form-control" placeholder="Company Name">
                      </div>
                      <div class="col-md-6">
                        <label class="form-label startDate"><strong>Start Date</strong></label>
                          <input th:value="${list.start_date}" type="date" class="form-control">
                      </div>
                      <div class="col-md-6">
                        <label class="form-label endDate"><strong>End Date</strong></label>
                          <input  th:value="${list.end_date}" type="date" class="form-control">
                      </div>
                      <div class="col-md-6">
                        <label class="form-label"><strong>Country</strong></label>
                        <select th:value="${list.country}" class="form-select country">
                          <option selected>Select Country</option>
                          <option value="US">United States</option>
                          <option value="KR">South Korea</option>
                          <option value="TH">Thailand</option>
                        </select>
                      </div>
                      <div class="col-md-6">
                        <label class="form-label city"><strong>City</strong></label>
                          <input th:value="${list.city}" type="text" class="form-control" placeholder="City">
                      </div>
                      <div class="col-md-6">
                        <label class="form-label jobDuty"><strong>Major</strong></label>
                          <input th:value="${list.major}" type="text" class="form-control" placeholder="Major">
                      </div>
                      <div class="col-md-6">
                        <label class="form-label"><strong>Grade</strong></label>
                          <input th:value="${list.grade}" type="text" class="form-control" placeholder="Grade">
                      </div>
                    </div>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <button onclick="addAcademic()" class="btn btn-primary">Add Education</button>
                </div>

                <div class="col-md-6 mb-3">
                  <button type="button" onclick="onUpdate()" class="btn btn-primary">Update</button>
              </div>
              <div class="col-md-6 mb-3">
                  <button type="button" onclick="onBack()" class="btn btn-primary">Home</button>
              </div>
      
          </div>
          <div class="col-md-2"></div>
          </div>

    </div>


    <input type="text" th:if="${csrf_token != null}" th:value="${csrf_token}" hidden/>
</body>

<script th:inline="javascript" type="text/javascript">
  var careerCnt = [[${resumeInfo.careerLength}]];
  var academicCnt = [[${resumeInfo.academicLength}]];
</script>

<script src="../../../js/ajax.js"></script>
<script src="../../../js/common.js"></script>
<script src="../../../js/resumeRevise.js"></script>
<script src="../../../bootstrap/js/bootstrap.bundle.min.js"></script>