<header>
    <div class="row g-3">
        <div th:if="${loginFlag == 'true'}" class="col-12 text-end">
            <label th:text="|Hello, ${usr_nm}|"></label>
            <button type="button" class="btn btn-primary btn-sm" onclick="toLogOut()">Sign Out</button><!--로그아웃 버튼-->
        </div>
        <div th:if="${loginFlag == 'false'}" class="col-12 text-end">
            <button type="button" class="btn btn-primary btn-sm" onclick="toSignIn()">Sign In</button><!--로그인 버튼-->
            <button type="button" class="btn btn-primary btn-sm" onclick="toSignUp()">Sign Up</button><!--회원가입 버튼-->
        </div>
    </div>
    <div class="container-fluid" style="height: 300px;">
        
    
    
        Header 영역 (로고 등이 들어감.)

        <div onclick="toHome()">로고</div>
        
        
    </div>
</header>
